<% if (searchResult && searchResult.length > 0) {searchResult.forEach((user) => {%>
    <p><%=user.username%> does exist</p>
<% })} else if (searchResult === null){} else { %>
    <p>User does not exist</p>
<%}%>