<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <form action="/search" method="GET">
        <label for="search-bar">Search:</label>
        <input type="text" name="search-bar" id="search-bar" required>
        <button type="submit">Submit</button>
    </form>
    <h1>All Users:</h1>
    <%console.log(usernames)%>
    <% usernames.forEach((user) => { %>
        <p><%=user.username%></p>
    <% })%>
</body>
</html>